
@{
    ViewBag.Title = "Pollo Endiablado";
}

<div class="row">
    <div class="col-sm-8">
        <nav align="center">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Anterior">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li>
                    <a href="#" aria-label="Siguiente">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <img src="~/images/recipe1.jpg" alt="Avatar">
                    <div class="container-card">
                        <h4><strong>Pollo endiablado</strong> <span class="fa fa-star-o favorite-icon-inactive"></span></h4>
                        <p>Lavar y secar el pollo, y abrirlo cortándolo a lo largo del esternón, a su vez con el lado abierto hacia abajo sobre una tabla de cortar, aplastar bien con un aplastacarne. En un bol mezclar el aceite de...</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <img src="~/images/recipe2.jpg" alt="Avatar">
                    <div class="container-card">
                        <h4><strong>Mini hamburguesas a la mostaza</strong> <span class="fa fa-star-o favorite-icon-inactive"></span></h4>
                        <p>Estas mini hamburguesas a la mostaza son ideales para un bocadillo, o para servir en un buffet. Una receta finger food, fácil de hacer y lista en tan sólo 25 minutos,con pocos ingredientes fácilmente...</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <img src="~/images/recipe3.jpg" alt="Avatar">
                    <div class="container-card">
                        <h4><strong>Calamares guisados con aceitunas negras</strong> <span class="fa fa-star-o favorite-icon-inactive"></span></h4>
                        <p>Limpiar los calamares, dividiendo el cuerpo de los tentáculos y eliminando el pico, ojos, pluma y víceras. Freír en 4-5 cucharadas de aceite de oliva, el apio picado, los dientes de ajo y chile picante...</p>
                    </div>
                </div>
            </div>
        </div>

        <nav align="center">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Anterior">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li>
                    <a href="#" aria-label="Siguiente">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Más populares</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="~/images/media1.jpg" alt="128">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Ají de Gallina</h4>
                        En una olla poner a sancochar la pechuga de la gallina, una vez sancochada se deberá deshilachar.
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="~/images/media2.jpg" alt="128">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Rocoto Relleno</h4>
                        Posee un sabor más dulzón, que es muy apreciado principalmente en la región Arequipa pero también extendido en el resto de este país.
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="~/images/media3.jpg" alt="128">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Picarones</h4>
                        Los picarones son un dulce en forma de anillos hecho con masa de harina de trigo mezclada con zapallo y en ocasiones camote y bañados en chancaca
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
