@model List<Modelo.receta>
@{
    ViewBag.Title = "Recetas";
}

@using (Html.BeginForm("Index", "Receta", FormMethod.Post, new { criterio = "frm-buscar" }))
{
    <div class="row">
        <div class="col-sm-5 text-left">
            @Html.TextBox("criterio", null, new { type = "text", @class = "form-control", placeholder = "Ingrese dato a buscar" })
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-lg btn-default fa fa-search" data-toggle="tooltip" title="Buscar"></button>
        </div>
        <div class="col-sm-4 text-right">
            <a class="btn btn-lg btn-success fa fa-plus" href="~/Admin/Receta/Mantenimiento/0" role="button" data-toggle="tooltip" title="Nueva Receta"></a>
        </div>
    </div>
}
<hr />
