@model string[,]
@{
    ViewBag.Title = "Consulta Usuarios";
}

<div class="table-responsive">
    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Sexo</th>
                <th class="text-center">Cantidad</th>
            </tr>
        </thead>
        <tbody>
            @{ int count = 1;}
            @{ int cant = Model.GetUpperBound(0); }
            @for (int i = 0; i <= cant; i++)
            {
                <tr>
                    <th class="text-center">@(count++)</th>
                    <th class="text-center">@(Model[i, 0])</th>
                    <th class="text-center">@(Model[i, 1])</th>
                </tr>
            }
        </tbody>
    </table>
</div>
