
@{
    ViewBag.Title = "Vegetariana";
}

<div class="row">

    <div class="col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Día 1</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="~/images/media1.jpg" alt="128">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Ají de Gallina </h4>
                        En una olla poner a sancochar la pechuga de la gallina, una vez sancochada se deberá deshilachar.
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Día 2</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="~/images/media2.jpg" alt="128">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Rocoto Relleno</h4>
                        Posee un sabor más dulzón, que es muy apreciado principalmente en la región Arequipa pero también extendido en el resto de este país.
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Día 3</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="~/images/media3.jpg" alt="128">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Picarones</h4>
                        Los picarones son un dulce en forma de anillos hecho con masa de harina de trigo mezclada con zapallo y en ocasiones camote y bañados en chancaca
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>