@{
    ViewBag.Title = "Dietas";
}
<div class="row">
    <div class="col-sm-6">

    </div>
    <div class="col-sm-6 text-right">
        <a class="btn btn-default" href="~/Dieta/Mantenimiento/0" role="button">Nueva Dieta</a>
    </div>
</div>

<br>

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Dieta</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Vegetariana</td>
                <td>
                    <a href="~/Dieta/Detalle/1"><span class="fa fa-eye os-ac-icon os-hover-yellow"></span></a>
                    <a href="#"><span class="fa fa-pencil os-ac-icon os-hover-green"></span></a> 
                    <a href="#"><span class="fa fa-trash os-ac-icon os-hover-red"></span></a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Postres</td>
                <td>
                    <a href="~/Dieta/Detalle/2"><span class="fa fa-eye os-ac-icon os-hover-yellow"></span></a>
                    <a href="#"><span class="fa fa-pencil os-ac-icon os-hover-green"></span></a>
                    <a href="#"><span class="fa fa-trash os-ac-icon os-hover-red"></span></a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Dieta diaria</td>
                <td>
                    <a href="~/Dieta/Detalle/3"><span class="fa fa-eye os-ac-icon os-hover-yellow"></span></a>
                    <a href="#"><span class="fa fa-pencil os-ac-icon os-hover-green"></span></a>
                    <a href="#"><span class="fa fa-trash os-ac-icon os-hover-red"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>