@{
    ViewBag.Title = "Dietas";
}

<form action="#" method="post" class="form-horizontal">
    <div class="form-group">
        <label for="nom_dieta" class="col-sm-4 control-label hidden-xs"><span class="fa fa-cutlery fa-2x" aria-hidden="true"></span></label>
        <label for="nom_dieta" class="col-sm-4 control-label visible-xs">Dieta</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="nom_dieta" name="nom_dieta" placeholder="Dieta">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
            <button type="submit" class="btn btn-default">Guardar</button>
        </div>
    </div>
</form>
