@model Modelo.usuario
@{
    ViewBag.Title = "Cambiar Contraseña";
    int id = ViewBag.id;
}

@using (Html.BeginForm("GuardarPassword", "Perfil", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <label for="nom_usuario" class="col-sm-4 control-label">Contraseña Actual</label>
        <div class="col-sm-4">
            <input class="form-control" id="pass_actual" name="pass_actual" placeholder="Contraseña Actual" type="password">
            <span class="field-validation-valid label label-danger" data-valmsg-for="pass_actual" data-valmsg-replace="true">@(id == 1 ? "Contraseña Incorrecta" : "")</span>
        </div>
    </div>
    <div class="form-group">
        <label for="ape_usuario" class="col-sm-4 control-label">Nueva Contraseña</label>
        <div class="col-sm-4">
            <input class="form-control" id="new_pass" name="new_pass" placeholder="Nueva Contraseña" type="password">
        </div>
    </div>
    <div class="form-group">
        <label for="email_usuario" class="col-sm-4 control-label">Confirmar Contraseña</label>
        <div class="col-sm-4">
            <input class="form-control" id="conf_pass" name="conf_pass" placeholder="Confirmar Contraseña" type="password">
            <span class="field-validation-valid label label-danger" data-valmsg-for="conf_pass" data-valmsg-replace="true">@(id == 2 ? "La Contraseña no coincide" : "")</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
            <button type="submit" class="btn btn-default">Cambiar Contraseña</button>
        </div>
    </div>
}