@model List<Modelo.ingrediente>
@{
    ViewBag.Title = "Ingredientes";
}

<div class="row">
    <div class="col-sm-6">
        @using (Html.BeginForm("Index", "Ingredient", FormMethod.Post, new { @class = "form-inline", id = "form-dieta" }))
        {
            <div class="form-group">
                <label class="sr-only" for="buscar">Buscar</label>
                <div class="input-group">
                    @Html.TextBox("buscar", null, new { type = "search", @class = "form-control", placeholder = "Buscar", id = "buscar", autocomplete = "off" })
                    <div class="input-group-addon"><a href="javascript: document.getElementById('form-dieta').submit();"><span class="fa fa-search"></span></a></div>
                </div>
            </div>
        }
    </div>
    <div class="col-sm-6 text-right">
        <a class="btn btn-success" href="~/Admin/Ingredient/Mantenimiento/" data-toggle="tooltip" data-placement="bottom" data-delay='{ "show": 1000, "hide": 50 }' title="Nueva Marca" role="button">
            &nbsp;<span class="fa fa-plus-circle fa-lg"></span>&nbsp;
        </a>
    </div>
</div>

<br />

<div class="table-responsive">
    <table class="table table-hover table-bordered text-center">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Ingrediente</th>
                <th class="text-center">Tipo</th>
                <th class="text-center">Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.id_ingrediente</td>
                    <td>@m.nom_ingrediente</td>
                    <td>@m.tipo_ingrediente</td>
                    <td>
                        <table class="text-center" style="width:100%;">
                            <tr>
                                <td><a href="~/Admin/Ingredient/Detalle/@m.id_ingrediente" data-toggle="tooltip" data-placement="bottom" data-delay='{ "show": 1000, "hide": 50 }' title="Ver Detalle"><span class="fa fa-eye os-ac-icon os-hover-yellow"></span></a></td>
                                <td><a href="~/Admin/Ingredient/Mantenimiento/@m.id_ingrediente" data-toggle="tooltip" data-placement="bottom" data-delay='{ "show": 1000, "hide": 50 }' title="Editar"><span class="fa fa-pencil os-ac-icon os-hover-green"></span></a></td>
                                <td><a onclick="return confirm('¿Está seguro de eliminar el registro?');" href="~/Admin/Ingredient/Eliminar/@m.id_ingrediente" data-toggle="tooltip" data-placement="bottom" data-delay='{ "show": 1000, "hide": 50 }' title="Eliminar"><span class="fa fa-trash os-ac-icon os-hover-red"></span></a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})
</script>