@{
    ViewBag.Title = "Establecimientos";
}
<div class="jumbotron" style="background-color:#4CAF50">
   
    <h2 style="color:white">
        <i class="fa fa-cutlery" style="font-size:30px; color:white"></i>
         Debe seleccionar una receta
        <button class="btn btn-success pull-right" onclick="javascript: window.history.back()"><i class="fa fa-arrow-left"></i> Regresar</button>
    </h2>
</div>
